<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sagee Hamati. It uses data from mapbox.com and weatherapi.com !</p>
        <p>Itatchi photo ! who does not love Itatchi!!!!</p>
        <img class="portrait" src="/img/pic.jpg">

    </div>

    {{>footer}}
</body>

</html>