<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>

        </form>
        <p id="m1"></p>
        <p id="m2"></p>
        <p id="m3"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>